{{/* 在不同路径下有重名模板时可以通过define方法来区别 */}}
{{define "users/index.tmpl"}}
        <!DOCTYPE html>
        <html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <link rel="stylesheet" href="/xxx/index.css">
                <title>users/index</title>
        </head>
        <body>
        {{.title | safe}}

        <script src="/xxx/index.js"></script>
        </body>
        </html>
{{end}}